# SET YOUR DEVELOPMENT ENVIRONMENT VARIABLES HERE
#
# COMMIT THIS FILE TO GIT TO SHARE WITH YOUR FELLOW DEVELOPERS VARS FOR
# YOU APPLICATION. KEEP IT UP TO DATE!
#
# WEB_CONCURRENCY=1
# MAX_THREADS=5
# PORT=3000
# RACK_TIMEOUT_SECONDS=10
